@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1045px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 24px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.link {
    width: 223px;
    height: 64px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.link.light {
    color: #1A4780;
    background: #C2B293;
}

.link.dark {
    color: #f4f4f4;
    background: #1A4780;
}